.title{
    position: relative;
    font-size: 3em;
}

#cityName{
    position : relative;
    width: 56%;
    height: 55%;   
}
#search{
    position : relative;
    height: 20%;
}
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.fa-cloud-sun-rain{
    color: aqua;
}